h3 {
  color: darkblue;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.skill-header {
  text-align: left;
}

.skill-container {
  text-align: left;
  color: crimson;
  border: solid;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  font: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.subskill {
  font-weight: 500;
}

.subhead_underline {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline black 1.5px;
  text-underline-offset: 7px;
}
